
@{
    ViewData["Title"] = "TimerView";
}

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        function startTimer() {

        }

        function pauseTimer() {

        }

        function resetTimer() {

        }
    </script>
</head>
 <body>
     <div class="timer" style="background-color: rgba(128, 128, 128, .5); display: inline-block;">
         <div class="timer_numbers" style="color: white; font-size: 48px; text-align: center;">
             <span id="minutes">25</span>:<span id="seconds">00</span>
         </div>
         <div class="timer_buttons">
             <button onclick="startTimer" style="height: 50px; width: 100px; background-color: green; color: white;">Start</button>
             <button onclick="pauseTimer" style="height: 50px; width: 100px; background-color: red; color: white;">Pause</button>
             <button onclick="resetTimer" style="height: 50px; width: 100px;">Reset</button>
         </div>
     </div>
 </body>