
@{
    ViewData["Title"] = "TimerView";
}

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
        .timer_numbers {
            color: white;
            font-size: 48px;
            text-align: center;
        }
        .timer_buttons {
            text-align:center;
        }
        .startButton {
            height: 50px;
            width: 100px;
            border-radius: 4px;
            background-color: green;
            color: white;
            font-weight: bold;
        }
        .stopButton {
            height: 50px;
            width: 100px;
            border-radius: 4px;
            background-color: red;
            color: white;
            font-weight: bold;
        }
        .resetButton {
            height: 50px;
            width: 100px;
            border-radius: 4px;
            background-color: black;
            color: white;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <br /><br />
    <div class="timer">
        <div class="timer_numbers">
            <span id="minutes">25</span>:<span id="seconds">00</span>
        </div>
        <div class="timer_buttons">
            <input type="button" class="startButton" id="startButton" value="Start"/>
            <input type="button" class="stopButton" id="stopButton" value="Stop" />
            <input type="button" class="resetButton" id="resetButton" value="Reset" />
        </div>
    </div>
    <br /><br />
    <script>
        function startTimer() {
            var endTime = new Date().getTime() + 25 * 60000;

            var timer = setInterval(function () {
                var now = new Date().getTime();
                var duration = endTime - now;

                var minutes = Math.floor((duration % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((duration % (1000 * 60)) / 1000);

                $("#minutes").text(minutes);
                $("#seconds").text(seconds);

                if (duration < 0) {
                    clearInterval(timer);
                    alert("Done");
                } 
            }, 1000);
        }
        $("#startButton").click(function () {
            startTimer();
        });

        function stopTimer() {

        }

        function resetTimer() {

        }
    </script>
</body>