@model GroupB_Project.Models.Plans

<form method=" Post" asp-action="Create">
    <div class="border p-3>
        <div class="form-group row">
            <h2 class="text-black-50 pl-3">Let's Shceudle Your Next Session!</h2>
        </div>
        <div class="row">
            @*Row 1*@
            <div class="col-12">
                <div class=" form-group row">
                    <div class="col-6">
                        <label asp-for="subject"></label>
                    </div>
                    <div class="col-6">
                        <label asp-for="subject"></label>
                    </div>
                </div> 
                @*Row 2*@
                <div class="form-group row">
                    <div class="col-6">
                        <input asp-for="subject" class="form-control" />
                    </div>
                </div>
                <div class=" col-12">
                    <div class="form-group row">
                        <div class="col-6">
                            <input type="submit" class="btn-dark w-100" value="Schedule" />
                        </div>
                        <div class="col-6">
                            <a asp-action="Index" class="btn-warning w-100">Back</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

