@model GroupB_Project.Models.Plans

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<h4>Plans</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="View">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="hours" class="control-label"></label>
                <input asp-for="hours" class="form-control" />
                <span asp-validation-for="hours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="subject" class="control-label"></label>
                <input asp-for="subject" class="form-control" />
                <span asp-validation-for="subject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dtmDate" class="control-label"></label>
                <input asp-for="dtmDate" class="form-control" />
                <span asp-validation-for="dtmDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

